#header {
    background-color: rgba(25, 134, 233, 0.6);
}

#mainBody {
    width: 100%;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

#hot {
    font: bold italic 500% serif;
    color: rgba(25, 134, 233, 0.95);
}

.footer {
    background-color: rgba(255, 220, 0, 0.34);
    left: 0;
    bottom: 0;
    max-width: 100%;
    height: 200px;
}

