.chat-window {
    border-radius: 10px 10px 10px 10px;
    margin-top: -10px;
    min-height: 370px;
    max-height: 370px;
    width: 100%;
    border: 3px solid rgba(0, 98, 255, 0.28);
    overflow-y: scroll;
}

.my_message {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 100px;
    height: 120%;
    border-radius: 10px 70px 70px 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    font-size: 1.1rem;
    background: rgba(0, 255, 240, 0.25);
}

.companion_message{
    text-align: right;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 20px;
    height: 120%;
    border-radius: 70px 10px 10px 70px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background: rgba(187, 233, 190, 0.51);
    word-wrap: break-word;
    font-size: 1.1rem;
}

.circle {
    border-radius: 100px;
    border: 3px solid rgba(0, 128, 0, 0.68);
    box-shadow: 0 0 7px #600;
}

.text_input {
    border-radius: 10px 10px 10px 10px;
    border: 3px solid rgba(0, 98, 255, 0.26);
    background: rgba(52, 52, 52, 0.06);
    min-height: 80px;
    max-height: 80px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    overflow-y: scroll;
}

