.container {
    min-height: 470px;
}

#mainBody {
    width: 100%;
    background-image: url(../img/background.jpg);
    background-size: cover;
}

#headerLogin {
    background-color: rgba(25, 134, 233, 0.6);
}

h6 {
    font: bold italic 100% serif;
    color: rgba(0, 104, 255, 0.98);
}

#Log {
    font: bold italic 100% serif;
    color: rgba(0, 104, 255, 0.9);
}

#hot {
    font: bold italic 500% serif;
    color: rgba(25, 134, 233, 0.95);
}

#card_user {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer {
    background-color: rgba(255, 220, 0, 0.34);
    left: 0;
    bottom: 0;
    max-width: 100%;
    height: 200px;
}