#cardUserSearch{
    background-color: rgba(141, 168, 154, 0.22);
    margin-top: 25px;
    margin-bottom: 25px;
}

#title {
    font: bold italic 300% serif;
    color: rgb(25, 134, 233);
}

.step-links {
    color: rgb(25, 134, 233);
    font-size: 120%;
}