{% load thumbnail %}
{% load bootstrap4 %}
{% load sorl_thumbnail %}

<div>
    {% if widget.is_initial %}
        <a href="{{ widget.value.url }}">
            {% thumbnail value "x230" crop="center" as image %}
                <img src="{{ image.url }}" alt="avatar">
            {% endthumbnail %}
        </a>
    {% endif %}
    <input type="{{ widget.type }}" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %}>
    {% if not widget.required %}
        <input type="checkbox" name="{{ widget.checkbox_name }}" id="{{ widget.checkbox_id }}"{% if widget.attrs.disabled %} disabled{% endif %}>
        <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
    {% endif %}
</div>