{% extends "base.html" %}

{% block title %}About Hot date{% endblock title %}

{% block content %}
    <div class="container" style="min-height: 350px;">
        <h5 style="margin-top:100px;">
            Hello!
            This site is for people who want to expand their social circle, find people with similar interests, share their life events with the world, and maybe even find their love! Communicate, but do not forget to observe the culture of communication!
        </h5>
        <h5>For all questions on this site, please contact the site administration at the email address <strong>hotdate.ukraine@gmail.com</strong></h5>
        <h1 class="text-center" style="margin-top:50px; color: blue"><strong>#StandWithUkraine</strong></h1>
    </div>
{% endblock %}