{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Add album{% endblock title %}

{% block content %}
<div class="container p-4">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a href="/profile/{{ user_id }}" class="btn btn-outline-light btn-block">Back to profile</a><br>
        </div>
        <div class="col-md-4"></div>
    </div>
    <h2 class="text-center" style="font: bold italic 300% serif; color: rgba(25, 134, 233, 0.95);">Create new album</h2>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="post" enctype="multipart/form-data" action=".">
                {% csrf_token %}
                {% bootstrap_form form_album %}
                {% bootstrap_form form_photo %}
                <br>
                <p class="text-center"><button class="btn btn-success" type="submit">Create</button></p>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock content %}