{% extends "base.html" %}
{% load thumbnail %}
{% load bootstrap4 %}
{% load sorl_thumbnail %}
{% load static %}

{% block title %}Album {{ album.title }}{% endblock title %}

{% block css %}
    <link href="{% static 'css/album.css'%}" rel="stylesheet" type="text/css">
{% endblock css %}

{% block content %}
    <div class="container" style="margin-top:10px">
        <div class="row">
            <div class="col-md-3">
                <a href="/profile/{{ user_id }}" class="btn btn-outline-light btn-block">Back to profile</a><br>
            </div>
            <div class="col-md-3">
                {% if user_id == current_user_id %}
                    <button type="button" class="btn btn-outline-light btn-block" data-toggle="modal" data-target="#addPhoto">Add new photo</button>
                {% include "includes/modal_form_add_photo.html" %}
                {% endif %}
            </div>
            <div class="col-md-3">
                {% if user_id == current_user_id %}
                    <button type="button" class="btn btn-outline-light btn-block" data-toggle="modal" data-target="#Change">Change description</button>
                    {% include "includes/modal_form_change.html" %}
                {% endif %}
            </div>
            <div class="col-md-3">
                {% if user_id == current_user_id %}
                    <button type="button" class="btn btn-outline-light btn-block" data-toggle="modal" data-target="#Delete">Delete album</button>
                    {% include "includes/modal_form_del_album.html" %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <h2 class="text-center" id="titleAlbum">Album {{ album.title }}</h2><br>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-12">
                {% if album.description %}
                    <p id="desc">{{ album.description }}</p><br>
                {% endif %}
            </div>
        {% for photo in photos.all %}
            <div class="col-md-4 col-sm-4 col-xs-4">
                <div class="container">
                    {% thumbnail photo.photo_url "960x880" crop="center" as image %}
                        <button type="button" class="btn btn-outline-muted" data-toggle="modal" data-target="#Photo_{{ photo.id }}"><img class="card-img-top" src="{{ image.url }}" alt="photo"></button>
                    {% endthumbnail %}
                </div>
                {% include "includes/modal_form_show_photo.html" %}
                <br>
            </div>
        {% endfor %}
        </div>
        <br>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'JavaScript/processing_likes.js' %}"></script>
{% endblock js %}
