{% extends "base.html" %}
{% load thumbnail %}
{% load bootstrap4 %}
{% load sorl_thumbnail %}
{% load static %}

{% block title %}My chats{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="/static/css/all_chats.css" type="text/css"/>
{% endblock css %}

{% block content %}
    <div class="container p-4">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/profile/{{ user_id }}" class="btn btn-outline-light btn-block">Back to my profile</a><br>
            </div>
            <div class="col-md-4"></div>
        </div>
        <h2 class="text-center" id="title">My chats</h2><br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="table table-hover">
                {% for room in page_obj %}
                    <tr>
                        {% if room.companion_user.id == user_id %}
                            <td>
                                <a href="/profile/{{ room.host_user.id }}">
                                    {% if room.host_user.avatar %}
                                        {% thumbnail room.host_user.avatar "60x60" crop="center" as image %}
                                            <img class="circle" src="{{ image.url }}" alt="avatar">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img class="circle" style="width: 60px;" src="{% static 'img/unknown_avatar.png' %}" alt="avatar">
                                    {% endif %}
                                </a>
                            </td>
                            <td><a href="/profile/{{ room.host_user.id }}">{{ room.host_user.first_name }}, {{ room.host_user.age }}</a></td>
                            <td class="tbl"><a href="/chat/{{ room.id }}" class="btn btn-primary">Message</a></td>
                        {% else %}
                            <td>
                                <a href="/profile/{{ room.companion_user.id }}">
                                    {% if room.companion_user.avatar %}
                                        {% thumbnail room.companion_user.avatar "60x60" crop="center" as image %}
                                            <img class="circle" src="{{ image.url }}" alt="avatar">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img class="circle" style="width: 60px;" src="{% static 'img/unknown_avatar.png' %}" alt="avatar">
                                    {% endif %}
                                </a>
                            </td>
                            <td><a href="/profile/{{ room.companion_user.id }}">{{ room.companion_user.first_name }}, {{ room.companion_user.age }}</a></td>
                            <td class="tbl"><a href="/chat/{{ room.id }}" class="btn btn-primary" target="_blank">Message</a></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-4">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <br>
        </div>
    </div>
{% endblock content %}
