{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        {% block css %}{% endblock css %}
        <link rel="stylesheet" href="/static/css/base.css" type="text/css"/>
        <link rel="icon" href="data:,">
        <title>{% block title %}unknown{% endblock title %}</title>
    </head>
    <body id="mainBody">
        <nav class="navbar navbar-expand-sm navbar-white" id="header">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><img class="img-fluid" style="max-width:70px; margin-top: -7px;" src="{% static 'img/Logo.png' %}"  alt="Logo"></a>
                </li>
            </ul>
            {% if user.is_staff %}
                <a class="btn btn-outline-warning my-2 my-sm-0" href="/hot_admin/" style="margin-right: 20px;">Admin</a>
            {% endif %}
            <a class="btn btn-outline-warning my-2 my-sm-0" href="/search/" style="margin-right: 20px;">Find</a>
            <a class="btn btn-outline-warning my-2 my-sm-0" href="/profile/{{ user.id }}/chats/" style="margin-right: 30px;">My chats</a>
            <span class="text-success" style="margin-right: 30px;"><a class="text-warning" href="/profile/{{ user.id }}" title="Open my profile">Hello, {{ user.first_name }}!</a></span>
            <a class="btn btn-danger" href="/logout/" style="margin-right: 10px;">Logout</a>
        </nav>
        {% block content %}not available{% endblock %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        {% block js %}{% endblock js %}
        <div class="footer">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2 class="text-center" id="hot">Welcome to<br>Hot  date</h2>
                </div>
                <div class="col-md-3">
                    <br>
                    <p><a class="text-primary" href="/about/">About site</a></p>
                    <h5>Contacts</h5>
                    <p>Ukraine</p>
                    <p>© 2022 Alipov D., for all questions write to hotdate.ukraine@gmail.com</p>
                </div>
            </div>
        </div>
    </body>
</html>
