{% extends "base.html" %}
{% load thumbnail %}
{% load bootstrap4 %}
{% load sorl_thumbnail %}
{% load static %}

{% block title %}Chat {{ companion.first_name }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="/static/css/chat_room.css" type="text/css"/>
{% endblock css %}

{% block content %}
    {% with current_user_id=current_user.id host_user_id=host_user.id host_user_avatar=host_user.avatar host_user_first_name=host_user.first_name companion_id=companion.id companion_avatar=companion.avatar companion_first_name=companion.first_name %}
    <input type="hidden" id="current_user_id" value="{{ current_user_id }}">
    <input type="hidden" id="room_id" value="{{ room.id }}">
    <div class="container p-3">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                <a href="/profile/{{ current_user_id }}" class="btn btn-outline-light btn-block">Back to my profile</a><br>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-2">
                <a href="/profile/{{ current_user_id }}/chats/" class="btn btn-outline-light btn-block">Back to my chats</a><br>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-3">
                {% if current_user_id == host_user_id %}
                    <a href="/profile/{{ companion_id }}" class="btn btn-outline-light btn-block">Back to profile {{ companion_first_name }}</a><br>
                {% else %}
                    <a href="/profile/{{ host_user_id }}" class="btn btn-outline-light btn-block">Back to profile {{ host_user_first_name }}</a><br>
                {% endif %}
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="chat-window">
                    {% for message in messages %}
                        {% if current_user_id == host_user_id %}
                            {% if current_user_id == message.user %}
                                <div class="my_message">
                                    <p>
                                        {% thumbnail host_user_avatar "60x60" crop="center" as im %}
                                            <img class="circle" src="{{ im.url }}" alt="avatar">
                                        {% endthumbnail %} &nbsp;
                                        {{ host_user_first_name }} &nbsp; {{ message.created_at|date:"d.m.Y," }} {{ message.created_at|time:"H:i" }}
                                    </p>
                                    <p>{{ message.content }}</p>
                                </div>
                            {% else %}
                                <div class="companion_message">
                                    <p>
                                        {{ message.created_at|date:"d.m.Y," }}  {{ message.created_at|time:"H:i" }} &nbsp; {{ companion_first_name }} &nbsp;
                                        {% thumbnail companion_avatar "60x60" crop="center" as im %}
                                            <img class="circle" src="{{ im.url }}" alt="avatar">
                                        {% endthumbnail %}
                                    </p>
                                    <p>{{ message.content }}</p>
                                </div>
                            {% endif %}
                        {% else %}
                            {% if current_user_id == message.user %}
                                <div class="my_message">
                                    <p>
                                        {% thumbnail companion_avatar "60x60" crop="center" as im %}
                                            <img class="circle" src="{{ im.url }}" alt="avatar">
                                        {% endthumbnail %} &nbsp;
                                        {{ companion_first_name }} &nbsp; {{ message.created_at|date:"d.m.Y," }} {{ message.created_at|time:"H:i" }}
                                    </p>
                                    <p>{{ message.content }}</p>
                                </div>
                            {% else %}
                                <div class="companion_message">
                                    <p>
                                        {{ message.created_at|date:"d.m.Y," }}  {{ message.created_at|time:"H:i" }} &nbsp; {{ host_user_first_name }} &nbsp;
                                        {% thumbnail host_user_avatar "60x60" crop="center" as im %}
                                            <img class="circle" src="{{ im.url }}" alt="avatar">
                                        {% endthumbnail %}
                                    </p>
                                    <p>{{ message.content }}</p>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <br>
                <div class="input_message">
                    <textarea class="text_input" maxlength="500" placeholder="Enter your chat message" id="text_message"></textarea>
                <div class="input-append">
                    <p class="text-center"><button class="btn btn-success" type="button" id="send_message">Send</button>
                </div>
                </div>
            </div>
        </div>
    </div>
    {% endwith %}
{% endblock content %}

{% block js %}
    <script src="{% static 'JavaScript/chat_room.js' %}"></script>
{% endblock js %}