{% extends "base.html" %}
{% load bootstrap4 %}

{% block title %}Complaint{% endblock title %}

{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/profile/{{ user_id }}" class="btn btn-outline-light btn-block">Back to profile</a><br>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form method="post" action=".">
                    {% csrf_token %}
                    {% bootstrap_form form_complain %}
                    <p class="text-center"><button class="btn btn-light" type="submit">Send</button></p>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br>
    </div>
{% endblock content %}