{% extends 'base.html' %}
{% load bootstrap4 %}


{% block title %}Delete profile{% endblock title %}

{% block content %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a href="/profile/{{ user_id }}" class="btn btn-outline-light btn-block">Back to profile</a><br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <h5 class="text-center" style="font: bold italic 300% serif; color: #ff0000;"><strong>Do you want to delete your account?</strong></h5>
            <form method="POST" action=".">
                {% csrf_token %}
                {% bootstrap_form form_delete %}
                <p class="text-center"><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Delete">DELETE</button></p>
                {% include "includes/modal_form_delete_profile.html" %}
            </form>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock content %}