{% extends "base.html" %}
{% load thumbnail %}
{% load sorl_thumbnail %}
{% load static %}


{% block title %}Hot date{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="/static/css/index.css" type="text/css"/>
{% endblock css %}

{% block content %}
<div class="container-fluid p-3">
    <div class="row">
        {% for user in site_users %}
        <div class="col-sm-3">
            <div class="card mb-10" style="width: 20rem;" id="cardUser">
                {% if user.avatar %}
                    {% thumbnail user.avatar "340x340" crop="center" as image %}
                        <a href="profile/{{ user.id }}"><img class="img-rounded" width="100%" src="{{ image.url }}" alt="avatar"></a>
                    {% endthumbnail %}
                {% else %}
                <a href="profile/{{ user.id }}"><img class="img-fluid" style="width: 340px;" src="{% static 'img/unknown_avatar.png' %}"  alt="avatar"></a>
                {% endif %}
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            {% if user.gender == 'male' %}
                                <img class="img-fluid" style="max-width:25px; margin-top: -5px" src="{% static 'img/man.png' %}"  alt="man">
                            {% else %}
                                <img class="img-fluid" style="max-width:20px; margin-top: -5px" src="{% static 'img/woman.png' %}"  alt="woman">
                            {% endif %}
                        </div>
                        <div class="col-md-10">
                            <div class="col-md-12"><h5 class="card-title">{{ user.first_name }}, {{ user.age }}</h5></div>
                        </div>
                    </div>
                    {% if user.city %}
                        <p class="fw-bold">{{ user.city }}</p>
                    {% else %}
                        <p class="fw-bold"> &nbsp; </p>
                    {% endif %}
                    <a href="profile/{{ user.id }}" class="btn btn-outline-primary btn-block">Open</a>
                </div>
             </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}

