{% extends "base.html" %}
{% load thumbnail %}
{% load bootstrap4 %}
{% load sorl_thumbnail %}
{% load static %}

{% block title %}Likes{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="/static/css/subscribers.css" type="text/css"/>
{% endblock css %}

{% block content %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/profile/album/{{ album_slug }}" class="btn btn-outline-light btn-block">Back to album</a><br>
            </div>
        </div>
        <h2 class="text-center" id="title">Likes</h2><br>
        <div class="row">
          {% for user in page_obj %}
            <div class="col-md-2 col-sm-2 col-xs-2">
                {% if user.avatar %}
                  {% thumbnail user.avatar "350x350" crop="center" as image %}
                    <a href="/profile/{{ user.id }}"><img class="img-fluid" width="100%" src="{{ image.url }}" alt="avatar"></a>
                  {% endthumbnail %}
                {% else %}
                  <a href="/profile/{{ user.id }}"><img class="img-fluid" style="width: 350px;" src="{% static 'img/unknown_avatar.png' %}"  alt="avatar"></a>
                {% endif %}
                <h5 class="text-center">{{ user.first_name }}</h5>
            </div>
          {% endfor %}
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-5"></div>
        <div class="col-sm-4">
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
            <br>
        </div>
    </div>
{% endblock content %}