{% load thumbnail %}
{% load bootstrap4 %}
{% load static %}
{% load sorl_thumbnail %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/login.css" type="text/css"/>
        <link rel="icon" href="data:,">
        <title>Authorization</title>
    </head>
    <body id="mainBody">
        <nav class="navbar navbar-expand-sm navbar-white" id="headerLogin">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><img class="img-fluid" style="max-width:70px; margin-top: -7px;" src="{% static 'img/Logo.png' %}"  alt="Logo"></a>
                </li>
            </ul>
        </nav>
        <br>
        <div class="container" style="margin-top:30px">
            <div class="row">
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-12">
                            <h6 class="text-center">This website was created to find interesting people for us, to communicate, and also to share interesting events of our lives with others</h6>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        {% for user in site_users %}
                            <div class="col-md-2" style="width: 10rem;" id="card_user">
                                {% if user.avatar %}
                                    {% thumbnail user.avatar "210x190" crop="center" as image %}
                                        <img class="img-fluid" src="{{ image.url }}" width="100%" alt="avatar">
                                    {% endthumbnail %}
                                {% else %}
                                    <img class="img-fluid" style="width: 100%; height: 75%;" src="{% static 'img/unknown_avatar.png' %}"  alt="avatar">
                                {% endif %}
                                <h6 class="text-center">{{ user.first_name }}, {{ user.age }}</h6>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-2" id="Log">
                    <h4 class="text-center" id="welcome">Welcome to our dating site</h4>
                    <br>
                    <form method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <button type="submit" class="btn btn-success">Enter</button>
                    </form>
                    <hr>
                    <a class="btn btn-primary" href="/registration/" style="margin-right: 10px;">Registration</a>
                </div>
            </div>
            <br>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        <div class="footer">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2 class="text-center" id="hot">Welcome to<br>Hot  date</h2>
                </div>
                <div class="col-md-3">
                    <br>
                    <h5>Contacts</h5>
                    <br>
                    <p>Ukraine</p>
                    <p>© 2022 Alipov D., for all questions write to hotdate.ukraine@gmail.com</p>
                </div>
            </div>
        </div>
    </body>
</html>
