{% load widget_tweaks %}
{% load bootstrap4 %}
{% load static %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/registration.css" type="text/css"/>
        <link rel="icon" href="data:,">
        <title>Registration</title>
    </head>
    <body id="mainBody">
        <nav class="navbar navbar-expand-sm navbar-white" id="headerReg">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><img class="img-fluid" style="max-width:70px; margin-top: -7px;" src="{% static 'img/Logo.png' %}"  alt="Logo"></a>
                </li>
            </ul>
        </nav>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h5 id="description">
                        You are on the registration page.
                        To successfully complete the registration, you must fill out this form.
                        After that, a verification letter will be sent to your mail.
                        You need to follow the link in the email, after which you will
                        automatically go to the main page of this site and you will have
                        access to all the features of this resource.
                    </h5>
                    <p>* required field</p>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p>Name * {% render_field form.first_name class="form-control" %}</p>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-4">
                                        <p>Gender * {% render_field form.gender class="form-control" %}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p>City {% render_field form.city class="form-control" %}</p>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-4">
                                        <p>Age * {% render_field form.age class="form-control" %}</p>
                                        <span style='color: red; font-size: 75%; position: relative; top: -10%'>{{ form.age.errors }}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p>Phone {% render_field form.phone class="form-control" %}</p>
                                        <span style='color: red; font-size: 75%; position: relative; top: -10%'>{{ form.phone.errors }}</span>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-4">
                                        <p>Show my phone {% render_field form.show_phone %}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-10">
                                        <p>Avatar {% render_field form.avatar %}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-9">
                                        <p>I would like to meet {% render_field form.search_gender %}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-4">
                                        <p>Age from {% render_field form.search_min_age class="form-control" %}</p>
                                        <span style='color: red; font-size: 75%; position: relative; top: -10%'>{{ form.search_min_age.errors }}</span>
                                    </div>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-4">
                                        <p>Age up to {% render_field form.search_max_age class="form-control" %}</p>
                                        <span style='color: red; font-size: 75%; position: relative; top: -10%'>{{ form.search_max_age.errors }}</span>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="custom-control custom-checkbox">
                                    <p>Interests {% render_field form.interest %}</p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="custom-control custom-checkbox">
                                    <p>Films {% render_field form.film %}</p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="custom-control custom-checkbox">
                                    <p>Music {% render_field form.music %}</p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="custom-control custom-checkbox">
                                    <p>Sport {% render_field form.sport %}</p>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="custom-control custom-checkbox">
                                    <p>Literature {% render_field form.literature %}</p>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <p>Email * {% render_field form.email class="form-control" %}</p>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <p>Password * {% render_field form.password class="form-control" %}</p>
                                <span style='color: rgba(27,27,27,0.91); font-size: 75%; position: relative; top: -15%'>{{ form.password.help_text }}</span>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-6">
                                <p>Enter your password again * {% render_field form.check_password class="form-control" %}</p>
                                <span style='color: rgba(27,27,27,0.91); font-size: 75%; position: relative; top: -15%'>{{ form.check_password.help_text }}</span>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                        <p class="text-center"><button type="submit" class="btn btn-success">Register</button></p>
                    </form>
                </div>

            </div>
            <br>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
        {% block js %}
            <script src="{% static 'JavaScript/registration.js' %}"></script>
        {% endblock js %}
        <div class="footer">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h2 class="text-center" id="hot">Welcome to<br>Hot  date</h2>
                </div>
                <div class="col-md-3">
                    <br>
                    <h5>Contacts</h5>
                    <br>
                    <p>Ukraine</p>
                    <p>© 2022 Alipov D., for all questions write to hotdate.ukraine@gmail.com</p>
                </div>
            </div>
        </div>
    </body>
</html>
