{% extends "base.html" %}
{% load core_tags %}
{% load thumbnail %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% load sorl_thumbnail %}
{% load static %}


{% block title %}Find...{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="/static/css/search_users.css" type="text/css"/>
{% endblock css %}

{% block content %}
    <div class="container-fluid bg-muted p-3">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h2 class="text-center" id="title">Find a person by...</h2><br>
                <div class="row">
                    <div class="col-sm-12">
                        <form method="get">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p>Name {% render_field user_list.form.first_name class="form-control" %}</p>
                                </div>
                                <div class="col-sm-1"></div>
                                 <div class="col-sm-2">
                                     <p>Gender {% render_field user_list.form.gender class="form-control" %}</p>
                                </div>
                                <div class="col-sm-2">
                                    <p>Preferred gender {% render_field user_list.form.preferred_gender class="form-control" %}</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <p>Have an avatar {% render_field user_list.form.photo class="form-control" %}</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p>City {% render_field user_list.form.city class="form-control" %}</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-2">
                                    <p>Min age {% render_field user_list.form.age__gte class="form-control" %}</p>
                                </div>
                                <div class="col-sm-2">
                                    <p>Max age {% render_field user_list.form.age__lte class="form-control" %}</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-3">
                                    <p>Ordering {% render_field user_list.form.ordering class="form-control" %}</p>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="custom-control custom-checkbox">
                                        <p style="font-size: 18px">Interest {{ user_list.form.interest }}</p><br>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="custom-control custom-checkbox">
                                        <br><p>Films {{ user_list.form.film }}</p><br>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="custom-control custom-checkbox">
                                        <br><p>Music {{ user_list.form.music }}</p><br>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="custom-control custom-checkbox">
                                        <br><p>Sport {{ user_list.form.sport }}</p><br>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="custom-control custom-checkbox">
                                        <br><p>Literature {{ user_list.form.literature }}</p><br>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <h2 class="text-center"><input type="submit" value="Search" class="btn btn-success" /></h2>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
    <div class="container-fluid p-3">
        <hr>
        <div class="row">
            {% if page_obj %}
                {% for user in page_obj %}
                <div class="col-sm-3">
                    <div class="card mb-10" style="width: 20rem;" id="cardUserSearch">
                        {% if user.avatar %}
                            {% thumbnail user.avatar "340x340" crop="center" as image %}
                                <a href="/profile/{{ user.id }}"><img class="img-rounded" width="100%" src="{{ image.url }}" alt="avatar"></a>
                            {% endthumbnail %}
                        {% else %}
                        <a href="/profile/{{ user.id }}"><img class="img-fluid" style="width: 340px;" src="{% static 'img/unknown_avatar.png' %}"  alt="avatar"></a>
                        {% endif %}
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-2">
                                    {% if user.gender == 'male' %}
                                        <img class="img-fluid" style="max-width:25px; margin-top: -5px" src="{% static 'img/man.png' %}"  alt="man">
                                    {% else %}
                                        <img class="img-fluid" style="max-width:20px; margin-top: -5px" src="{% static 'img/woman.png' %}"  alt="woman">
                                    {% endif %}
                                </div>
                                <div class="col-md-10">
                                    <h5 class="card-title">{{ user.first_name }}, {{ user.age }}</h5>
                                </div>
                            </div>
                            {% if user.city %}
                                <p class="fw-bold">{{ user.city }}</p>
                            {% else %}
                                <p class="fw-bold"> &nbsp; </p>
                            {% endif %}
                            <a href="/profile/{{ user.id }}" class="btn btn-outline-primary btn-block">Open</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <div class="col-sm-3"></div>
                <div class="col-sm-6"><h3 class="text-center">Not found. Change your search options</h3></div>
                <div class="col-sm-3"></div>
            {% endif %}
        </div>
        <br>
        <hr>
        <br>
        <div class="row">
            <div class="col-sm-5"></div>
            <div class="col-sm-4">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?{% url_replace page=page_obj.previous_page_number %}">&laquo; Previous</a>
                        {% endif %}
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                        {% if page_obj.has_next %}
                            <a href="?{% url_replace page=page_obj.next_page_number %}">Next &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script src="{% static 'JavaScript/search_users.js' %}"></script>
{% endblock js %}