{% extends 'base.html' %}
{% load core_tags %}
{% load widget_tweaks %}
{% load static %}
{% load bootstrap4 %}


{% block title %}Update profile{% endblock title %}

{% block content %}
    <div class="container" style="margin-top:10px">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <a href="/profile/{{ user_id }}" class="btn btn-outline-light btn-block">Back to profile</a><br>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-12">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Your name * {% render_field form.first_name class="form-control" %}</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-4">
                                    <p>Gender * {% render_field form.gender class="form-control" %}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>City {% render_field form.city class="form-control" %}</p>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-4">
                                    <p>Age * {% render_field form.age class="form-control" %}</p>
                                    <span style='color: red; font-size: 75%; position: relative; top: -10%'>{{ form.age.errors }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Phone {% render_field form.phone class="form-control" %}</p>
                                    <span style='color: red; font-size: 75%; position: relative; top: -10%'>{{ form.phone.errors }}</span>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-4">
                                    <p>Show my phone {% render_field form.show_phone %}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <p>Avatar {% render_field form.avatar %}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-9">
                                    <p>I would like to meet {% render_field form.search_gender %}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-4">
                                    <p>Age from {% render_field form.search_min_age class="form-control" %}</p>
                                    <span style='color: red; font-size: 75%; position: relative; top: -10%'>{{ form.search_min_age.errors }}</span>
                                </div>
                                <div class="col-sm-1"></div>
                                <div class="col-sm-4">
                                    <p>Age up to {% render_field form.search_max_age class="form-control" %}</p>
                                    <span style='color: red; font-size: 75%; position: relative; top: -10%'>{{ form.search_max_age.errors }}</span>
                                </div>
                            </div><br>
                            <div class="row">
                                <div class="col-sm-1"></div>
                                <div class="col-sm-9">
                                    <p>About me {% render_field form.about_me class="form-control" %}</p>
                                </div>
                            </div>
                        </div>
                    </div><br>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="custom-control custom-checkbox">
                                <p>Interests {% render_field form.interest %}</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="custom-control custom-checkbox">
                                <p>Films {% render_field form.film %}</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="custom-control custom-checkbox">
                                <p>Music {% render_field form.music %}</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="custom-control custom-checkbox">
                                <p>Sport {% render_field form.sport %}</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="custom-control custom-checkbox">
                                <p>Literature {% render_field form.literature %}</p>
                            </div>
                        </div>
                    </div><br>
                    <p class="text-center"><button type="submit" class="btn btn-success">Save</button></p>
                </form>
            </div>
        </div>
    </div><br>
{% endblock content %}

{% block js %}
    <script src="{% static 'JavaScript/update_profile.js' %}"></script>
{% endblock js %}