<div class="modal fade" id="addPhoto" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add photo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-4">Load photo</div>
            <div class="col-sm-8">
              <input type="file" name="add_photo" multiple accept="image/*">
            </div>
          </div>
          <hr>
          <p class="text-center"><input type="submit" class="btn btn-success" value="Save"></p>
        </form>
      </div>
    </div>
  </div>
</div>