{% load thumbnail %}
{% load sorl_thumbnail %}
{% load static %}


<div class="modal" id="Photo_{{ photo.id }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            {% thumbnail photo.photo_url "x1200" crop="center" as image %}
                <img class="card-img-top" src="{{ image.url }}" alt="photo">
            {% endthumbnail %}
            </div>
            <div class="container">
                <hr>
                <div class="row">
                    <div class="col-sm-2">
                        {% if user_id == current_user_id %}
                            <a class="btn btn-outline-muted" href="/profile/album/photo_likes/{{ photo.id }}"><img src="{% static 'img/like.png' %}" width="30" alt="like"></a>
                        {% else %}
                            {% csrf_token %}
                            <button type="button" class='btn btn-outline-light add_like' data-id="{{ photo.id }}"><img src="{% static 'img/like.png' %}" width="40" alt="like"></button>
                        {% endif %}
                    </div>
                    <div class="col-sm-2" style="font-size: 200%; color: rgba(248, 83, 83, 0.9);">
                        <p id="photoID_{{ photo.id }}">{{ photo.likes|default:' ' }}</p>
                    </div>
                    <div class="col-sm-6"></div>
                    <div class="col-sm-2">
                        {% if user_id == current_user_id %}
                            <form method='POST'>
                                {% csrf_token %}
                                <input type="hidden" name="photo_delete" value="{{ photo.id }}">
                                <button type="submit" class="btn btn-light"><img src="{% static 'img/delete-button.png' %}" width="30" alt="Delete"></button>
                            </form>
                        {% endif %}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>