<div class="modal fade" id="Change" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Change description</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form method='POST'>
          {% csrf_token %}
          <div class="row">
            <div class="col-sm-3">Description</div>
            <div class="col-sm-9">
              <label>
                <textarea name="album_description" cols="30" rows="4"></textarea>
              </label>
            </div>
          </div>
          <hr>
          <p class="text-center">
            <input type="reset" class="btn btn-secondary" value="Reset">
            <button type="submit" value="{{ album.id }}" class="btn btn-success">Save</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>