<div class="modal fade" id="Rating" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Rate {{ object.first_name }}</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <form method="post" action="/profile/rating/">
          {% csrf_token %}
          <input type="hidden" name="current_user_id" value="{{ object.id }}">
          <div class="row">
            <div class="col-sm-2">
              <h2>0</h2>
              <input type="radio" name="radiobutton" id="star-0" value="0"/><label for="star-0"></label>
            </div>
            <div class="col-sm-2">
              <h2>1</h2>
              <input type="radio" name="radiobutton" id="star-1" value="1"/><label for="star-1"></label>
            </div>
            <div class="col-sm-2">
              <h2>2</h2>
              <input type="radio" name="radiobutton" id="star-2" value="2"/><label for="star-2"></label>
            </div>
            <div class="col-sm-2">
              <h2>3</h2>
              <input type="radio" name="radiobutton" id="star-3" value="3"/><label for="star-3"></label>
            </div>
            <div class="col-sm-2">
              <h2>4</h2>
              <input type="radio" name="radiobutton" id="star-4" value="4"/><label for="star-4"></label>
            </div>
            <div class="col-sm-2">
              <h2>5</h2>
              <input type="radio" name="radiobutton" id="star-5" value="5"/><label for="star-5"></label>
            </div>
          </div>
          <hr>
          <p class="text-center"><input type="submit" class="btn btn-success" value="Enter"></p>
        </form>
      </div>
    </div>
  </div>
</div>