<div class="modal fade" id="Delete" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><strong>Are you sure you want to delete your profile? All photos and chats will be permanently deleted!</strong></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-center"><button type="button" class="btn btn-light btn-block" data-dismiss="modal"><b>NO</b></button></p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-center"><input type="submit" class="btn btn-danger btn-block" value="YES"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>