<div class="modal fade" id="Delete" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Are you sure you want to delete the album {{ album.title }}?</h4>
            </div>
            <div class="modal-body">
                <form method='POST'>
                    {% csrf_token %}
                    <input type=hidden name="delete_album" value="{{ album.id }}">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="text-center"><button type="button" class="btn btn-light btn-block" data-dismiss="modal">NO</button></p>
                        </div>
                        <div class="col-md-6">
                            <p class="text-center"><input type="submit" class="btn btn-danger btn-block" value="YES"></p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>