{% load thumbnail %}
{% load static %}


<div class="container" id="mainBackground">
  <br>
  <div class="row">
    <div class="col-sm-4">
        <div class="row">
            <div class="col-sm-12">
                {% if object.avatar %}
                  {% thumbnail object.avatar "x350" crop="center" as image %}
                    <img class="img-fluid" width="100%" src="{{ image.url }}" alt="avatar">
                  {% endthumbnail %}
                {% else %}
                  <img class="img-fluid" style="width: 350px;" src="{% static 'img/unknown_avatar.png' %}"  alt="avatar">
                {% endif %}
                <h3 style="margin-top: 10px;">{{ object.first_name }}, {{ object.age }}</h3>
                <h5>{{ object.gender }}</h5><br>
                <h5>City: {{ object.city }}<h5>
                <h5>Email: {{ object.email }}<h5>
                <h5>Phone: {{ object.phone }}</h5>
                <br>
                <h5>My rating: <b>{{ object.avg_rating | floatformat:2 | default_if_none:'----' }}</b></h5>
                <br>
                <div class="row">
                    <div class="col-sm-12">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a href="{{ object.id }}/chats" class="btn btn-outline-primary btn-block">My chats</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ object.id }}/subscribers/" class="btn btn-outline-secondary btn-block">My subscribers</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ object.id }}/update/" class="btn btn-outline-success btn-block">Change profile</a>
                            </li>
                            <li class="nav-item">
                                <a href="{{ object.id }}/delete/" class="btn btn-outline-danger btn-block">Delete profile</a>
                            </li>
                        </ul>
                    </div>
                </div>
            <br>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
      <h3>About me</h3>
      <h5>{{ object.about_me }}</h5><hr>
      <h5>
          {% if object.search_gender %}
              I would like to find
              {% if object.search_gender == "male" or object.search_gender == "female" %}
                {{ object.search_gender }}
              {% else %}
                  people
              {% endif %}
              from {{ object.search_min_age }} to {{ object.search_max_age }} years old
          {% else %}
              I'm not looking for anyone
          {% endif %}
      </h5>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <h3 class="text-center">Interests</h3>
            <div>
              <ul>
                {% for interest in interests %}
                  <li>{{ interest }}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          {% if sports %}
            <div class="col-md-3">
              <br>
              <p><b>Sport</b></p>
              <div>
                <ul>
                {% for sport in sports %}
                  <li>{{ sport }}</li>
                {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
          {% if music %}
            <div class="col-md-3">
              <br>
              <p><b>Music</b></p>
              <div>
                <ul>
                {% for genre in music %}
                  <li>{{ genre }}</li>
                {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
          {% if films %}
            <div class="col-md-3">
              <br>
              <p><b>Film</b></p>
              <div>
                <ul>
                {% for genre in films %}
                  <li>{{ genre }}</li>
                {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
          {% if literature %}
            <div class="col-md-3">
              <br>
              <p><b>Literature</b></p>
              <div>
                <ul>
                {% for genre in literature %}
                  <li>{{ genre }}</li>
                {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
      <hr>
      <div class="container p-4">
        <div class="row">
          <div class="col-sm-2"><h3>Albums</h3></div>
          <div class="col-sm-4"><a href="{{ object.id }}/add_album/" class="btn btn-outline-success"><h5>New album</h5></a></div>
        </div>
        <div class="row">
            {% for album in object.album.all %}
            <div class="col-md-3 col-sm-3 col-xs-3" style="text-align: center; padding: 1vw 0 1vw 0;">
                <div class="border-success mb-15" style="text-align: center; padding: 1vw 0 1vw 0;">
                        {% thumbnail album.cover_album "250x250" crop="center" as image %}
                            <a href="album/{{ album.slug }}" class="btn btn-outline-muted btn-block"><img class="card-img-top" src="{{ image.url }}" alt="photo"></a>
                        {% endthumbnail %}
                    <div>
                        <p class="card-title">{{ album.title }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
